<ion-view view-title="{{drink.name}}" class="drinks-detail">
  <div class="data categorie">{{drink.singularName}}</div>
  <ion-content class="padding" scrollbar-y="false">
    <img ng-src="{{drink.logo}}" style="width: 100px; height: 100px" class="drink-logo">
    <p>
      {{drink.description}}
    </p>
    <div class="drink" ng-repeat="drink in assortment" ng-click="drinkInfo($event)" data-name="{{drink.name}}" data-id="{{drink.id}}" data-description="{{drink.description}}">
      <div class="cube" ng-class="{'active': selectedItem === item}" ng-click="selectItem( item )" data-name="{{drink.name}}" data-id="{{drink.id}}" data-description="{{drink.description}}">
        <div class="background" style="background-image: url({{drink.image}})" data-name="{{drink.name}}" data-id="{{drink.id}}" data-description="{{drink.description}}">
          
        </div>
      </div>
      <p data-name="{{drink.name}}" data-id="{{drink.id}}" data-description="{{drink.description}}">
        <strong data-name="{{drink.name}}" data-id="{{drink.id}}" data-description="{{drink.description}}">{{drink.name}} </strong>
      </p>
      <p data-name="{{drink.name}}" data-id="{{drink.id}}" data-description="{{drink.description}}" class="subtitle">
          {{drink.description}}
      </p>
    </div>
    <div class="padding">
      <a href="#/tab/ordered" class="view-change">
        <span>order your drink <span class="arrow"></span></span>
      </a>
    </div>
  </ion-content>
</ion-view>