<ion-view view-title="Welcome" class="welcome">
  <ion-content>
	
  	<div class="padding">
  		<div class="logo"></div>
  		<p>First Impression would like to personally welcome you, but to be able to do so we need a little bit of information. Please enter the fields below to start the experience</p>
  	</div>
	
	<div class="list padding">
	  <label class="item item-input">
	    <input type="text" placeholder="First Name" class="fn-input">
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="Last Name" class="ln-input">
	  </label>
	</div>
	
	<div class="padding">
		<a href="#/tab/mood" class="view-change">
			<span>set your mood <span class="arrow"></span></span>
		</a>
	</div>
	

  </ion-content>
</ion-view>
