<ion-view view-title="Mood">
  <ion-content class="padding">
    <h2>Set your mood</h2>
    <p>
      Below you can pick from a couple of mood that best reflects your personal preference.
    </p>
    <ion-list class="moods">
      <ion-item class="energy" ng-click="setMood('energy')">
        <h2>energy</h2>
      </ion-item>
      <ion-item class="relax" ng-click="setMood('relax')">
        <h2>relax</h2>
      </ion-item>
      <ion-item class="lucky" ng-click="setMood('lucky')">
        <h2>lucky</h2>
      </ion-item>
      <ion-item class="charming" ng-click="setMood('charming')">
        <h2>charming</h2>
      </ion-item>
      <ion-item class="chique" ng-click="setMood('chique')">
        <h2>chique</h2>
      </ion-item>
    </ion-list>
  
    <div class="padding">
      <a href="#/tab/drinks" class="view-change">
        <span>choose your drink <span class="arrow"></span></span>
      </a>
    </div>

  </ion-content>
</ion-view>