<ion-view view-title="Drinks" class="drinks">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="drink in drinks" type="item-text-wrap" href="#/tab/drinks/{{drink.id}}" class="item-remove-animate item-avatar item-icon-right drink">

        <img ng-src="{{drink.logo}}">
        <h2>{{drink.name}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
