<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Welcome" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/welcome">
    <ion-nav-view name="tab-welcome"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Mood" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/mood">
    <ion-nav-view name="tab-mood"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Drinks" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/drinks">
    <ion-nav-view name="tab-drinks"></ion-nav-view>
  </ion-tab>


</ion-tabs>

<!--ion-nav-view name="tab-welcome"></ion-nav-view>

<div class="tabs tabs-icon-top">
  <a class="tab-item" href="#/tab/welcome">
    <i class="icon ion-home"></i>
    Welcome
  </a>
  <a class="tab-item" href="#/tab/mood">
    <i class="icon ion-star"></i>
    Mood
  </a>
  <a class="tab-item" href="#/tab/drinks">
    <i class="icon ion-gear-a"></i>
    Drink
  </a>
</div-->