/* Kleur variabelen */

$black: #191919; 
$white: #fff;

$gold: #c99923;
$wood: #21190f;
$red: #e41b13;


/* Fonts */

h1, h2, h3, h4, p, a, li, span{
	transform: translate3d(0,0,0);
}

h2{
	color: $white;
}

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Default styles overschrijven */

.scroll-bar-indicator
{
	display: none;
}

.ion-ios-pulse-strong:before{
	content: " ";
	display: block;
	width: 100%;
	height: 100%;
	background-color: transparent;
	background-image: url('../img/icon_fi_strong.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.ion-ios-pulse:before{
	content: " ";
	display: block;
	width: 100%;
	height: 100%;
	background-color: transparent;
	background-image: url('../img/icon_fi.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.ion-ios-chatboxes-outline:before{
	content: " ";
	display: block;
	width: 100%;
	height: 100%;
	background-color: transparent;
	background-image: url('../img/icon_mood.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.ion-ios-chatboxes:before{
	content: " ";
	display: block;
	width: 100%;
	height: 100%;
	background-color: transparent;
	background-image: url('../img/icon_mood_strong.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.ion-ios-gear-outline:before{
	content: " ";
	display: block;
	width: 100%;
	height: 100%;
	background-color: transparent;
	background-image: url('../img/icon_drink.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.ion-ios-gear:before{
	content: " ";
	display: block;
	width: 100%;
	height: 100%;
	background-color: transparent;
	background-image: url('../img/icon_drink_strong.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.padding{
	padding: 20px;
}

.back-button i, .back-button span{
	color: $white;
}


/* General things */
.data{
	display: none;
}


a.view-change{
	display: block;
	margin: 0 auto;
	> span{
		//border: 1px solid #4d4d4d;
		padding: 10px;
		padding-right: 30px;
		position: relative;
		background-color: $gold;
		max-width: 75%;
		display: block;
		margin: 0 auto;

		.arrow{
			position: absolute;
			display: block;
			width: 10px;
			height: 10px;
			border: 2px solid;
			border-color: $white $white transparent transparent;
			transform: rotate(45deg);
			top: 14px;
			right: 15px;
		}
	}
	text-decoration: none;
	color: $white;
}

p{
	font-family: 'Open Sans', sans-serif !important;
	color: $white;
}


label.item-input{
	background-color: transparent;
	border: 0;
	border-bottom: 1px solid $gold;
	margin: 0 0 10px 0;
	background-color: rgba(0, 0, 0, 0.5);

	&:last-child{
		margin: 0;
	}

	input[type="text"]{
		color: $white;
	}
}


/* Bar */
.nav-bar-tabs-top .bar.bar-stable{
	border-bottom: none !important;
}

.bar.bar-stable{
	background-color: $white;
	border-bottom: 1px solid $gold;
	background-image: none !important;
	background-color: darken($black, 4);
	//background-color: transparent !important;
	.title{
		color: $white;
	}
	.button.button-clear{
		color: $black;
	}
}

.tabs{
	//background-color: $white !important;
	background-image: none !important;
	border-top: 1px solid $gold !important;
	//background-color: transparent !important;
	//background-color: white;
	background-color: darken($black, 4) !important;
	//background-color: transparent !important;
}

.tabs-striped{
	.tabs{
		border-top: none !important;
		background-color: darken($white, 2) !important;
		background-color: darken($black, 2) !important;
		//background-color: transparent !important;
		border-bottom: none !important;
	}
}

.tab-item{
	.tab-title{
		color: $white;
	}

	&.tab-item-active .tab-title{
		color: $gold;
	}
}

.pane{
	background-color: #000;
}

ion-view.pane{
	background-image: url('../img/bg_pattern_dark.png');
	background-size: 35px;
	background-repeat: repeat;
}

/* Content */
.scroll-content{
	background-color: lighten($black, 5);
	background-color: #f9f9f9;
	background-color: #222;
	background-color: transparent;
}

.item-complex .item-content, .item-radio .item-content{
	background-color: rgba(0,0,0,0.25);
}


	/* Welcome */
	ion-view.welcome{
		.logo{
			display: block;
			margin: 25px auto;
			background-image: url('../img/bar24_logo.png');
			background-size: contain;
			width: 107px;
			height: 101px;
		}
	}



	/* Moods */
	
	.moods .list{ 
		padding: 30px 0;

		.item{
			border: none;
			margin: 0 0 10px 0;
			background-color: rgba(0, 0, 0, 0.5);
			border: 1px solid rgba(255, 255, 255, 0.15);

			&.active{
				background-color: rgba(255, 255, 255, 0.15);
				border: 1px solid transparent;
			}

			&:last-child{
				margin: 0;
			}

			h2{
				color: $gold;
			}
		}
	}



	/* Drinks */

	ion-view.drinks{

		.list .item{
			border: none;
			border-bottom: 1px solid rgba(255, 255, 255, 0.15);
			background-color: transparent;
			margin: 0;

			&:last-child{
				margin: 0;
			}

			a{
				background-color: rgba(0, 0, 0, 0.5);

				h2{
					top: 50%;
					position: absolute;
					display: inline-block;
					transform: translateY(-50%);
				}
			}
		}
	}

	/* Drinks Detail */
	$font-size: 14px;
	$line-height: 1.4;
	$lines-to-show: 3;
	ion-view.drinks-detail{
		.drink-logo{
			display: block;
			margin: 0 auto;
		}
		.drink{
			height: 150px;
			position: relative;
			.cube{
				margin-top: 43px;
				margin-left: 25px;
			}
			p{
				position: absolute;
				left: 45%;
				top: 20%;
			}
			p.subtitle{
				position: absolute;
				top: 55px;
				padding-right: 20px;
				display: block; /* Fallback for non-webkit */
				display: -webkit-box;
				max-width: 400px;
				height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
				margin: 0 auto;
				font-size: $font-size;
				line-height: $line-height;
				-webkit-line-clamp: $lines-to-show;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}


	/* Finished */

/**/


/**/

.drink{
	overflow: hidden;
}

.cube{
	width: 75px;
	height: 75px;
	position: relative;
	transform: rotate(45deg);
	overflow: hidden;
	transition: 0.25s ease all;
	.background{
		position: absolute;
		width: 150%;
		height: 150%;
		background-size: cover;
		transform: rotate(-45deg) translateY(-25%);

	}
	&.active{
		outline: 5px solid #000;
		box-shadow: 0px 0px 0px 6px $gold;
	}
}

/**/