/* Kleur variabelen */
/* Fonts */
h1, h2, h3, h4, p, a, li, span {
  transform: translate3d(0, 0, 0);
}

h2 {
  color: #fff;
}

@font-face {
  font-family: 'Open Sans';
  src: url("OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Default styles overschrijven */
.scroll-bar-indicator {
  display: none;
}

.ion-ios-pulse-strong:before {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url("../img/icon_fi_strong.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.ion-ios-pulse:before {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url("../img/icon_fi.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.ion-ios-chatboxes-outline:before {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url("../img/icon_mood.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.ion-ios-chatboxes:before {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url("../img/icon_mood_strong.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.ion-ios-gear-outline:before {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url("../img/icon_drink.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.ion-ios-gear:before {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url("../img/icon_drink_strong.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.padding {
  padding: 20px;
}

.back-button i, .back-button span {
  color: #fff;
}

/* General things */
.data {
  display: none;
}

a.view-change {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  color: #fff;
}

a.view-change > span {
  padding: 10px;
  padding-right: 30px;
  position: relative;
  background-color: #c99923;
  max-width: 75%;
  display: block;
  margin: 0 auto;
}

a.view-change > span .arrow {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  border: 2px solid;
  border-color: #fff #fff transparent transparent;
  transform: rotate(45deg);
  top: 14px;
  right: 15px;
}

p {
  font-family: 'Open Sans', sans-serif !important;
  color: #fff;
}

label.item-input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #c99923;
  margin: 0 0 10px 0;
  background-color: rgba(0, 0, 0, 0.5);
}

label.item-input:last-child {
  margin: 0;
}

label.item-input input[type="text"] {
  color: #fff;
}

/* Bar */
.nav-bar-tabs-top .bar.bar-stable {
  border-bottom: none !important;
}

.bar.bar-stable {
  background-color: #fff;
  border-bottom: 1px solid #c99923;
  background-image: none !important;
  background-color: #0f0f0f;
}

.bar.bar-stable .title {
  color: #fff;
}

.bar.bar-stable .button.button-clear {
  color: #191919;
}

.tabs {
  background-image: none !important;
  border-top: 1px solid #c99923 !important;
  background-color: #0f0f0f !important;
}

.tabs-striped .tabs {
  border-top: none !important;
  background-color: #fafafa !important;
  background-color: #141414 !important;
  border-bottom: none !important;
}

.tab-item .tab-title {
  color: #fff;
}

.tab-item.tab-item-active .tab-title {
  color: #c99923;
}

.pane {
  background-color: #000;
}

ion-view.pane {
  background-image: url("../img/bg_pattern_dark.png");
  background-size: 35px;
  background-repeat: repeat;
}

/* Content */
.scroll-content {
  background-color: #262626;
  background-color: #f9f9f9;
  background-color: #222;
  background-color: transparent;
}

.item-complex .item-content, .item-radio .item-content {
  background-color: rgba(0, 0, 0, 0.25);
}

/* Welcome */
ion-view.welcome .logo {
  display: block;
  margin: 25px auto;
  background-image: url("../img/bar24_logo.png");
  background-size: contain;
  width: 107px;
  height: 101px;
}

/* Moods */
.moods .list {
  padding: 30px 0;
}

.moods .list .item {
  border: none;
  margin: 0 0 10px 0;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.moods .list .item.active {
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid transparent;
}

.moods .list .item:last-child {
  margin: 0;
}

.moods .list .item h2 {
  color: #c99923;
}

/* Drinks */
ion-view.drinks .list .item {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  background-color: transparent;
  margin: 0;
}

ion-view.drinks .list .item:last-child {
  margin: 0;
}

ion-view.drinks .list .item a {
  background-color: rgba(0, 0, 0, 0.5);
}

ion-view.drinks .list .item a h2 {
  top: 50%;
  position: absolute;
  display: inline-block;
  transform: translateY(-50%);
}

/* Drinks Detail */
ion-view.drinks-detail .drink-logo {
  display: block;
  margin: 0 auto;
}

ion-view.drinks-detail .drink {
  height: 150px;
  position: relative;
}

ion-view.drinks-detail .drink .cube {
  margin-top: 43px;
  margin-left: 25px;
}

ion-view.drinks-detail .drink p {
  position: absolute;
  left: 45%;
  top: 20%;
}

ion-view.drinks-detail .drink p.subtitle {
  position: absolute;
  top: 55px;
  padding-right: 20px;
  display: block;
  /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: 58.8px;
  /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.4;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Finished */
/**/
/**/
.drink {
  overflow: hidden;
}

.cube {
  width: 75px;
  height: 75px;
  position: relative;
  transform: rotate(45deg);
  overflow: hidden;
  transition: 0.25s ease all;
}

.cube .background {
  position: absolute;
  width: 150%;
  height: 150%;
  background-size: cover;
  transform: rotate(-45deg) translateY(-25%);
}

.cube.active {
  outline: 5px solid #000;
  box-shadow: 0px 0px 0px 6px #c99923;
}

/**/
